.all-products{
    background-color: #3C4451;
    padding: 40px;
}
.product-body{
    width: 100%;
    padding: 20px;
    display: flex;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    color: #fff;
    gap: 30px;
}
.pro-img{
    width: 70px;
}
.product-inform{
    display: flex;
    flex-direction: column;
    gap: 10px;
}