@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #dfe4ea;
    padding-block: 20px;
}

nav {
    display: flex;
    gap: 30px;
}

.logo {
    color: #b66846;
    font-size: 30px;
    text-shadow: 0 0 4px #009432;
}


.login-btn {
    background-color: transparent;
    border: 1px solid #b66846;
    border-radius: 6px;
    padding: 10px 30px;
}

.active {
    color: #F79F1F;
    padding-bottom: 6px;
    border-bottom: 2px solid #F79F1F;
}

/* Login Page Start */

#login{
    padding-block: 4rem;
}
.loginform fieldset{
    padding: 10px;
}
.loginform input{
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 10px;
}